.header{
  width: 95%;
  height:25%;
  text-align: center;
  padding: 5px;
  margin: 5px
}
.main-container{
  width: 100%;
  height:70%
}
.left-menu{
  width: 20%;
  height: 100%;
  float:left;
}
.right-content{
  width: 80%;
  height: 100%;
  float:right;
}
.pageMainContainer{
  height:80vh;
  width: 98%;
  border : 4px solid yellow;
}
.nablCount{
  float:left;
  width: 45%;
  border:2px solid pink;
  margin: 5px;
}
.generalDetails{
  float: left;
  border : 4px solid yellow;
  width: 80vh
}
.tableView{
  float:left;
  width: 95%;
  border:2px solid pink;
  margin: 5px;
  min-height: 45vh
}
.tableSearchBox{
  float:left;
  width: 95%;
  border:2px solid pink;
  margin: 5px;
  min-height: 20vh
}
.cardLayout{
  border: 4px solid white;
  float: left;
}
